cluster:
  network:
    cni:
      name: none
  proxy:
    disabled: true
{% if cilium.use_default_policy | default(false) %}
machine:
  files:
    - content: |
        apiVersion: cilium.io/v2
        kind: CiliumNetworkPolicy
        metadata:
          name: kube-dns
          namespace: kube-system
        spec:
          endpointSelector:
            matchLabels:
              k8s-app: kube-dns
          ingress:
            - fromEntities:
                - cluster
                - remote-node
              toPorts:
                - ports:
                    - port: "53"
                      protocol: TCP
                    - port: "53"
                      protocol: UDP
      path: /var/lib/networkpolicies/dns.yaml
      permissions: 0o444
      op: create

    - content: |
        apiVersion: cilium.io/v2
        kind: CiliumNetworkPolicy
        metadata:
          name: kube-system
          namespace: kube-system
        spec:
          endpointSelector: {}
          ingress:
            - fromEndpoints:
                - {}
            - fromEntities:
                - remote-node
          egress:
            - toEntities:
                - all
      path: /var/lib/networkpolicies/kube-system.yaml
      permissions: 0o444
      op: create

{% if cilium.namespace | default('kube-system') != 'kube-system' %}
    - content: |
        apiVersion: cilium.io/v2
        kind: CiliumNetworkPolicy
        metadata:
          name: cilium
          namespace: {{ cilium.namespace }}
        spec:
          endpointSelector: {}
          ingress:
            - fromEndpoints:
                - {}
            - fromEntities:
                - remote-node
          egress:
            - toEntities:
                - all
      path: /var/lib/networkpolicies/cilium.yaml
      permissions: 0o444
      op: create
{% endif %}

    - content: |
        apiVersion: cilium.io/v2  
        kind: CiliumClusterwideNetworkPolicy
        metadata:
          name: default
        spec:
          endpointSelector:
            matchExpressions:
              - key: io.kubernetes.pod.namespace
                operator: NotIn
                values: [kube-system{{ "," + cilium.namespace if cilium.namespace | default('kube-system') != 'kube-system' }}]  
          ingress:
            - fromEntities:
                - world
                - remote-node
          egress:
            - toEntities:
                - world
            - toEndpoints:
                - matchLabels:
                    io.kubernetes.pod.namespace: kube-system
                    k8s-app: kube-dns
              toPorts:
                - ports:
                    - port: "53"
                      protocol: TCP
                    - port: "53"
                      protocol: UDP
                  rules:
                    dns:
                      - matchPattern: "*"
      path: /var/lib/networkpolicies/default.yaml
      permissions: 0o444
      op: create
{% endif %}