cluster:
  network:
    cni:
      name: none
  proxy:
    disabled: true
{% if cilium.namespace | default('kube-system') != 'kube-system' %}
  apiServer:
    admissionControl:
      - name: PodSecurity
        configuration:
          exemptions:
            namespaces:
              - {{ cilium.namespace }}
{% endif %}